<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIKELION LMS</title>
    <link rel="stylesheet" type="text/css" href="dashboard.css">
</head>
<body>
<nav class="nav">
    <div class="nav1">
        <div class="logo">
            <p class="logo1">LIKE</p>
            <p class="logo2">LION 12th</p>
        </div>
        <p class="home_btn">홈</p>
        <p class="LLU_btn">멋대</p>
    </div>

    <div class="nav2">
        <button class="dashboard_btn">내 대시보드</button>
        <p class="profile">(프로필)</p>
    </div>
</nav>

<div class="sidebar">

</div>

<div class="main">
    <div class="main_main">
        <div class="warning">
            <div class="warning1">
                <p class="warning_title">미제출 과제: 마감 기한 1시간 21분 남음</p>
                <div class="warning1_ass">
                    <p class="warning_icon">(아이콘)</p>
                    <p class="warning_subject">과제 3: spring week 2 ...</p>
                </div>
            </div>
            <p class="warning_people">81명이 제출</p>
            <p class="warning_close">X</p>
        </div>

        <div class="a">
            <div class="a_a">
                <p class="a_a_1">박성재님 어서오세요!</p>
                <p class="a_a_2">들어왔으면... 공부 해야겠죠?</p>
                <p class="a_a_3">3개의 과제가 남았습니다.</p>
            </div>
            <div class="a_b">
                <p class="a_b_title">멋사 개요</p>
                <div class="a_b_btns">
                    <div class="a_b_btns_info">
                        <p class="a_b_btns_info_img">(아이콘)</p>
                        <p class="a_b_btns_info_txt">공지사항</p>
                    </div>
                    <div class="a_b_btns_QnA">
                        <p class="a_b_btns_QnA_img">(아이콘)</p>
                        <p class="a_b_btns_QnA_txt">QnA</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="b">
            <p class="b_title">이번 주 세션: 5주차</p>
            <p class="b_detail">왜 스프링 boot를 쓰는가
                배포 이전의 준비 단계로, 지금까지 만들었던 html, css와 같은 프론트 파일을 백엔드(서버)와 연결하여 좀더 동적인 사이트로 만들기 위함
                → 사실 뒷면은 이랬던거임…
                그러면 이제 코딩을 한다기보다 메모장에 뭘 적는다는 느...</p>
        </div>

        <div class="c">
            <p class="c_title">전체 세션</p>
            <div class="b">
                <p class="b_title">1주차</p>
                <p class="b_detail">왜 스프링 boot를 쓰는가
                    배포 이전의 준비 단계로, 지금까지 만들었던 html, css와 같은 프론트 파일을 백엔드(서버)와 연결하여 좀더 동적인 사이트로 만들기 위함
                    → 사실 뒷면은 이랬던거임…
                    그러면 이제 코딩을 한다기보다 메모장에 뭘 적는다는 느...</p>
            </div>
            <div class="b">
                <p class="b_title">2주차</p>
                <p class="b_detail">왜 스프링 boot를 쓰는가
                    배포 이전의 준비 단계로, 지금까지 만들었던 html, css와 같은 프론트 파일을 백엔드(서버)와 연결하여 좀더 동적인 사이트로 만들기 위함
                    → 사실 뒷면은 이랬던거임…
                    그러면 이제 코딩을 한다기보다 메모장에 뭘 적는다는 느...</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>